<header class="header">
  <input type="text" class="header__input" placeholder="Enter keywords..." />
  <div class="header__menu">
    <label for="" class="header__menu--label">Filter By</label>
    <select class="header__menu--list" (change)="onFilterChange($event.target.value)">
      <option value="All">All</option>
      <option value="Beer">Beer</option>
      <option value="Wine">Wine</option>
      <option value="Spirits">Spirits</option>
      <option value="Cider">Cider</option>
    </select>
  </div>
</header>