.project__header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid rebeccapurple;
}

.project__input {
  padding: 8px 16px;
  font-size: 16px;
}

.project__menu--label {
  margin-right: 8px;
}

.project__menu--list {
  padding: 2px 16px 2px 6px;
  font-size: 16px;
}