.main {
  display: flex;
  flex-wrap: wrap;
}

.product__container {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border: 1px solid palevioletred;
  position: relative;
}

.product__sale {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 24px;
  border: 1px solid black;
}

.product__img--wrapper {
  height: 16vw;
  width: 16vw;
}

.product__img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.product__description {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.product__name {
  margin-right: 8px;
}

@media screen and (max-width: 1200px) {
  .product__container {
    width: calc(100% / 3);
  }

  .product__img-wrapper {
    height: 24vw;
    width: 24vw;
  }
}

@media screen and (max-width: 768px) {
  .product__container {
    width: calc(100% / 2);
  }

  .product__img-wrapper {
    height: 32vw;
    width: 32vw;
  }
}

@media screen and (max-width: 480px) {
  .product__container {
    width: 100%;
  }

  .product__img-wrapper {
    height: 50vw;
    width: 50vw;
  }
}